<div class="card">
  <div class="card-header">
    <h1>Add Friend</h1>
  </div>

  <div class="card-body">
    <%= render 'form', friend: @friend %>

    <div class="">
      <div class="row justify-content-md-center align-items-center pb-2">
        <div class="col col-4">
          <%= link_to 'Back', friends_path, class: "btn btn-light btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>
