<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">
      Made with <i class="fas fa-heart text-danger"></i> by <a href="//Twitter.com/sibalnirbhay">@sibalnirbhay</a>
    </span>
  </div>
</footer>
