<div class="jumbotron">
  <div class="text-center">
    <%= image_tag "memoji.jpg", class: "img-thumbnail rounded-circle shadow p-3 mb-3 bg-white rounded memoji" %>
  </div>

  <h1 class="display-4">
    Nirbhay Sibal
  </h1>

  <div class="container-fluid">
    <p class="lead">
      <i class="fab fa-twitter"></i>
      @sibalnirbhay
    </p>

    <p class="lead">
      <i class="fab fa-linkedin"></i>
      sibalnirbhay
    </p>

    <p class="lead">
      <i class="fas fa-envelope text-danger"></i>
      sibal.nirbhay@hotmail.com
    </p>

    <p class="lead">
      <i class="fas fa-mobile text-dark"></i>
      (469) 395-1318
    </p>
  </div>
</div>
