<div class="jumbotron">
  <h1 class="display-4">Hello 👋</h1>

  <p class="lead">
    This is a Friends List App. I created just because I wanted to learn web development using Rails.
  </p>

  <hr class="my-4">

  <p>
    I followed <a href="https://youtu.be/fmyvWz5TUWg">this</a> Learn Ruby on Rails course on freeCodeCamp.org's YouTube channel, extensively instructed by <a href="http://Codemy.com">Codemy.com</a>'s John Elder (<i class="fab fa-twitter"></i> @flatplanet).

    <br/>
    <br/>

    This project involves a bunch of technologies:
    <ul>
      <li>Ruby on Rails</li>
      <li>SQLite</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Bootstrap</li>
      <li>jQuery</li>
    </ul>

    <br/>

    Get the code from this <a href="">GitHub repo</a>.
  </p>

  <hr class="my-4">
</div>
